h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 4em;
}

button {
    display: block;
    max-width: 300px;
    margin: auto;
    height: 50px;
}

iframe {
  margin: auto;
  padding: 10px;
  display: block;
}